body {
  font-family: "Lato", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #ebe3d9;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", "Cambria", serif;
}

.primary-em {
  font-size: 1.5rem;
}
.secondary-em {
  font-size: 1.2rem;
}

p + ul {
  margin-bottom: 0;
}
