.sidebar {
  background: $sidebar-bg;
  padding: 1rem;
  @media #{$medium-up} {
    min-width: rem-calc(150);
  }
  @media #{$small-only} {
    padding: rem-calc(20) rem-calc(60);
  }
}

.content {
  background: #ebe3d9;
  padding: rem-calc(32);
}

@media #{$medium-up} {
  .content-wrapper {
    @include display(flex);
    @include flex-grow(1);
  }
  .all-wrapper {
    @include display(flex);
    @include flex-direction(column);
  }
}

footer {
  text-align: center;
}
